
.screen-container{

    height: 60%;
    display: flex;
    flex: 1;
    justify-content: center;    

    @media screen and (max-width:600px) {
        
        height: 75%;
        padding: 0px 10px;
        flex-direction: column;
     }

    .wing-contanier{
        display: flex;
        flex-direction: column;
        // border: 3px solid white;
        width: 150px;
        border-radius: 10px;  
        align-items: center;
        justify-content: center;
        margin: 20px 20px;

        @media screen and (max-width:600px) {
           flex-direction: row;
           width: 100% ;
           padding: 10px 0px;
           margin: 20px 0px;
        }

        .wings{

            background-color: #fff;
            margin: 10px;
            height: 100px;
            width: 120px;
            justify-content: center;
            display: flex;
            border-radius: 3px;
            
            img{
                width: 100px;
            }

            .hello-world{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
 
    }
    
    .screen{
        // height: 360px;
        width: 576px;
        // padding: 24px;
        display: flex;
        // border: 3px solid white;
        margin: 20px 24px;
        border-radius: 5px;
        position: relative;
        
        @media screen and (max-width:600px) {
            height: 360px;
            width: 100%;
            margin: 12px 20px 0 0px;
            // padding: 24px 0px;
            
         }
    }

    .toolbar{
        display: none;
    }

    .screen:hover .toolbar{
        width:100%;
        height: 45px;
        z-index: 1;
        background-color: black;
        opacity: 0.5;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        display: flex;
        justify-content: flex-end;

        button {
            border: 1px solid white;
            padding: 0px 14px;
            background-color: transparent;
            color: white;
            border-radius: 25px;
            margin-right: 20px;
        }
    }

    .info-show{
        display: flex;
        flex: 1;
        color: aliceblue;
    }

    .info-hide{
        display: none;
    }
}

.div-container{
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .hello-world{
        font-family: Arial, Geneva, Helvetica, sans-serif;
        font-weight:900;
        font-size:60pt;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span:first-child{
            position: relative;
            right: 50px;
        }

        @media screen and (max-width:600px) {
            span:first-child{
                position: relative;
                right: 0px;
            }
        }
    }
}

li {
    font-size: 2em; 
    margin-bottom: 12px; 

    @media screen and (max-width:600px) {
        font-size: 1em;
    }
}
